@font-face {
  font-family: "Lato";
  src: url(fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(fonts/Lato/Lato-Bold.ttf);
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato";
}
